# Change extension of this file to .gitignore
*.class

# Package Files #
*.jar
*.war
*.ear

#Gradle temporary files
target/
!.mvn/wrapper/maven-wrapper.jar
log/
logs/

#IntelliJ files
*.iml
.idea
*.ipr
*.iws

#STS
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.gitignore

